/data
/sol_data/raw/*.pt
/sol_data/processed/*.pt
/prepare_data.bash
/conf_error_list.pt
/*.pbs
slurm*.out
/lipop.csv
*.pt
/lipop_process/processed
/crossdock2020_process
/dd_sol_exp
/__pycache__
/cy_PL_dataset
/local_scripts
